body{
    background: url("space.jpg");
    height: 2000px;
}


h1 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#butt {
    position: absolute;
    left: 400px;
    top: 300px;
    transition-duration: 0.5s;
    padding: 25px;

}

.clowns {
    background: url(clowns.jpeg);
    background-size: contain;
    color: pink;
    font-size: 1.5em;
    text-shadow: 5px 4px 1px black;
    font-weight: 600;
    border-radius: 0;
    min-height: 100px;
    font-family: 'Yeon Sung', cursive;

}

.fire {
    background: url(fire.jpg);
    background-size: cover;
    color: white;
    font-size: 2em;
    width: 400px;
    border: none;
    border-radius: 20%;
    font-family: 

}

.pink {
    background-color: pink;
    height: 400px;
    width: 500px;
    left: 100px;
    top: 25px;
    border: 15px dashed orange;
    color: magenta;
    font-weight: 600;
    border-radius: 0;
    font-family: 'Wallpoet', cursive;

}

.moving {
    background : url(face.gif);
    color: red;
    font-size: 2em;
    font-weight: 800;
    height: 180px;
    font-family: 'Liu Jian Mao Cao', cursive;

}